.team {
    margin: 10px;
    color: white;
    padding: 40px;
}

.head {
    margin: 110px 20px 20px 20px;
}

.head h1 {
    color: aqua;
    font-size: 3rem;
}

.members {
    margin: 20px;
}

.members h1 {
    color: aqua;
    font-size: 2.5rem;
    margin: 50px 20px 50px 0px;
}

.team-card,
.team-card-1 {
    position: relative;
    width: 200px;
    height: 300px;
    border: 1px white solid;
    border-radius: 10px;
    font-family: 'oxygen', sans-serif;
}
.committee-heads .team-card-1{
    height: 260px;
}
.team-card img,
.team-card-1 img {
    object-fit: cover;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.team-card h2,
.team-card-1 h2 {
    position: relative;
    top: 170px;
    text-align: center;
}

.qualification {
    position: relative;
    text-align: center;
    top: 175px;
    font-weight: bold;
}

.allign {
    margin: 20px;
    display: grid;
    gap: 20px 40px;
    justify-content: center;
}

.team-card-1 p {
    position: relative;
    text-align: center;
    top: 175px;
    font-weight: bold;
}

.committee-members .team-card-1 {
    position: relative;
    width: 200px;
    height: 265px;
    border: 1px white solid;
    border-radius: 10px;
    font-family: 'oxygen', sans-serif;
}

.second-years .team-card-1 {
    position: relative;
    width: 200px;
    height: 250px;
    border: 1px white solid;
    border-radius: 10px;
    font-family: 'oxygen', sans-serif;
}

@media (min-width: 770px) {
    .allign {
        
        grid-template-columns: repeat(5, 0fr);
    }
}